<!DOCTYPE html>
<html>
<head>
  <title>Job Information Form</title>
  <link rel="stylesheet" href="/adduser.css">  
</head> 
<body>
  <h1>Add Users</h1> 
 <form class="horizontal-form" method="post" action="/adduser"> 
    <div class="form-row">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="form-row">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="form-row">
      <input type="submit" value="Add">
    </div>   
     
 </form>    
</body>   
</html>
   
 
