<!DOCTYPE html>
<html>
<head>
  <title>Job Information Form</title>
  <link rel="stylesheet" href="/jobapply.css">  
</head> 
<body>
  <h1>Job Apply</h1> 
  <form class="horizontal-form" method="post" action="/jobapply"> 
    <div class="form-row">
      <label for="company_name">Company Name:</label>
      <input type="text" id="companyName" name="company_name" required>
    </div>

    <div class="form-row">
      <label for="jobSource">Job Source:</label>
      <select id="jobSource" name="Job_source" required> 
       <option value="jobs lever">jobs lever</option>
        <option value="Daily remote">Daily remote</option>
        <option value="Hire no vice">Hire no vice</option> 
        <option value="The Muse">The Muse</option>
        <option value="Career jet">Career jet</option>
        <option value="Python Org">Python Org</option>
        <option value="everyjobforme">everyjobforme</option>
        <option value="Chumi Jobs">Chumi Jobs</option>
        <option value="Recruit.net">Recruit.net</option>
        <option value="Wellfound">Wellfound</option> 
        <option value="Rubynow">Rubynow</option>
        <option value="Python Job">Python Job</option>
        <option value="Lensa">Lensa</option>
        <option value="Jet">Jet</option>  
        <option value="devit jobs">devit jobs</option>
        <option value="clevertech">clevertech</option>
        <option value="power to Fly">power to Fly</option> 
        <option value="no White board">no White board</option>
        <option value="Arc">Arc</option>
        <option value="dynamitejobs">dynamitejobs</option>
        <option value="jobdiv">jobdiv</option>
        <option value="job.level">job.level</option>
        <option value="boards">boards</option>
        <option value="Weworkremotely">Weworkremotely</option> 
        <option value="f6s">f6s</option>
        <option value="Jora">Jora</option>  
        <option value="Monster">Monster</option>
        <option value="Learn 4 Good">Jet</option> 
        <option value="Remotive">Remotive</option>
        <option value="Salary.com">Salary.com</option>
        <option value="linkup">linkup</option> 
        <option value="remote.co">remote.co</option>
        <option value="Y combinator">Y combinator</option>
        <option value="Snage Job">Snage Job</option>
        <option value="Job source">Job source</option>  
        <option value="Glass door">Glass door</option>
        <option value="JobGether">JobGether</option>
        <option value="Startwire">Startwire</option> 
        <option value="Ruby on Remote">Ruby on Remote</option>
        <option value="learn4good">learn4good</option>
        <option value="Adzuna">Adzuna</option>
        <option value="Rubyforum">Rubyforum</option>
        <option value="Career Builder">Career Builder</option>
        <option value="Workable">Workable</option>
        <option value="BuiltIn">BuiltIn</option> 
        <option value="workopolis">workopolis</option>
        <option value="glassdoor">glassdoor</option>  
        <option value="Google">Google</option>
        <option value="Jooble">Jooble</option> 
        <option value="Remote rocket">Remote rocket</option>
        <option value="talent">talent</option>
        <option value="startup">startup</option> 
        <option value="Dice">Dice</option>
        <option value="LinkedIn">LinkedIn</option>  
        <option value="Zip Recruiter">Zip Recruiter</option>
        <option value="indeed">indeed</option> 
        <option value="remoterocketship">remoterocketship</option> 
        <option value="Other">Other</option> 
        </select>    
    </div>  
  
    
    <div class="form-row">
      <label for="jobType">Job Type:</label>
      <select id="jobType" name="Job_type" required>
        <option value="Contract Remote">Contract Remote</option>
        <option value="Contract Hybrid">Contract Hybrid</option>
        <option value="Contract Onsite">Contract Onsite</option>
        <option value="Full time Remote">Full time Remote</option>
        <option value="Full time Hybrid">Full time Hybrid</option>
        <option value="Full time Onsite">Full time Onsite</option>
        <option value="Part time">Part time</option>
        <option value="Other">Other</option>
      </select>
    </div>
 
    <div class="form-row">
      <label for="jobURL">Job URL:</label> 
      <input type="text" id="jobURL" name="Job_URL" required>
    </div> 
    <div class="form-row">
      <label for="Profile">Profile:</label> 
      <select type="text" id="Profile" name="Profile" required>
        <option value="Hazzy I">Hazzy I</option>
         <option value="Shane I">Shane I</option>
         <option value="A Shaw">A Shaw</option>
         <option value="Sean I">Sean I</option>
         <option value="Hazik I">Hazik I</option>
         <option value="Hammanty 9">Hammanty 9</option>
         <option value="Hamza I">Hamza I</option>
         <option value="M Ali">M Ali</option>
         <option value="Intazar Hussynein">Intazar Hussynein</option>
         <option value="M Haazec">M Haazec</option>
         <option value="Shaw Ejaz 1">Shaw Ejaz 1</option>
         <option value="Hayes Ahmed">Hayes Ahmed</option>
         <option value="Muhammad Elahi">Muhammad Elahi</option>
         <option value="Hammy B">Hammy B</option>
         <option value="Ijaaz Shah">Ijaaz Shah</option>
         <option value="H Ellahi">H Ellahi</option>
         <option value="M Hamsa">M Hamsa</option>
         <option value="Shan E">Shan E</option>
         <option value="I Hamzeh">I Hamzeh</option>
         <option value="Hays I">Hays I</option>
         <option value="S Warne (senior)">S Warne (senior)</option>
         <option value="Shane E (Saleforce)">Shane E (Saleforce)</option>
         <option value="Butt Shan">Butt Shan</option>
         <option value="IShan B">IShan B</option>
         <option value="Shaw Ejaz">Shaw Ejaz</option>
         <option value="Hans Ellah">Hans Ellah</option>
         <option value="Intezar H">Intezar H</option>
         <option value="Jah Hanz">Jah Hanz</option>
         <option value="Shawan E">Shawan E</option>
         <option value="Ijaz S">Ijaz S</option>
         <option value="Muhammad Ejaz">Muhammad Ejaz</option>
         <option value="ilahi H">ilahi H</option>
         <option value="Hazz Butt">Hazz Butt</option>
         <option value="S Warne (junior)">S Warne (junior)</option>
         <option value="Ijaz S">Ijaz S</option>
         <option value="Shae B">Shae B</option> 
         <option value="Other">Other</option>
         </select> 
    </div>
    <div class="form-row">
      <label for="Job title">Job title:</label> 
      <input type="text" id="job title" name="Job_title" required>
    </div>
    <div class="form-row">
      <label for="Tech Stack">Tech Stack:</label> 
      <select type="text" id="Tech Stack" name="Tech_Stack" required>  
        <option value="Dynamics">Dynamics</option>
         <option value="QA">QA</option>
         <option value="ML/DS">ML/DS</option>
         <option value="UI/UX">UI/UX</option>
         <option value=".Net">.Net</option>
         <option value="Database">Database</option>
         <option value="Java">Java</option>
         <option value="Full Stack MERN">Full Stack MERN</option>
         <option value="Salesforce">Salesforce</option>
         <option value="MERN">MERN</option>
         <option value="Servicenow">Servicenow</option>
         <option value="PHP">PHP</option>
         <option value="Mobile">Mobile</option>
         <option value="Python">Python</option>
         <option value="IOS">IOS</option>
         <option value="React Native">React Native</option>
         <option value="Devops">Devops</option> 
         <option value="ML">ML</option>
         <option value="iOS / Android / Mob React Nat">iOS / Android / Mob React Nat</option>
         <option value="ROR">ROR</option>  
         <option value="Other">Other</option>     
        </select> 
    </div>

    <div class="form-row">
      <label for="companyType">Company Type:</label>
      <select id="companyType" name="company_type" required>
        <option value="Pure">Pure</option>
        <option value="Consulting">Consulting</option>
        <option value="Staffing">Staffing</option>
      </select>
    </div>
    <script> 

      function sortSelectOptions(selectId) {
        var selectElement = document.getElementById(selectId);
        var options = Array.from(selectElement.options);
        options.sort(function (a, b) {
          return a.text.localeCompare(b.text);
        });
        selectElement.innerHTML = "";
        for (var i = 0; i < options.length; i++) {
          selectElement.appendChild(options[i]);
        }
      }

      sortSelectOptions("jobSource");
      sortSelectOptions("jobType");
      sortSelectOptions("Profile")
      sortSelectOptions("Tech Stack")  
    </script>

    <div class="form-row">
      <input type="submit" value="Submit">
    </div>
  </form>
</body>
</html>  
    